ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	top: 0;
}
li{
	float: left;
	background-color: #333;
	font-family:Times New Roman;
	letter-spacing:2px;
}
li a{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 12px;
}
li a:active{
	background-color: blue;
}
.flex-container{
	display: flex;
	padding: 0px;
	margin: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right,blue, orange);
	border: 1px solid black;
}
.flex-item{
	margin: 20px;
	padding: 0px;
	color: white;
}
.flex-item img{
	border: 2px groove black;
	border-radius: 20%;;
}
body{
	height: 100%;
	background-image: url("image.jpeg");
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}
p a{
	color: red;
}
marquee{
	color: white;
}
.two{
	background-color: black;
}
.L ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.L li a{
	display: block;
	background-color: black;
	text-align: center;
	color: white;
	padding: 30px 40px;
}
#logo{
	text-align: center;
}
html{
	min-height: 100%;
}
@media screen and (min-width: 480px) {
	.flex-container{
		margin: 150px;
	}
	ul{
		font-size: 40px;
	}
	li a{
		padding: 20px 45px;
	}
	h1{
		margin-top: 110px;
	}
}
